@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

header{
    margin-top: 6px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 15px;
}
/* index slider */
.slideshow-container {
    position: relative;
    width: 100%; /* Set the width to the full viewport width */
    overflow: hidden; /* Hide overflowing content */
  }

  .mySlides {
    display: none;
    transition: opacity 0.5s ease; /* Add a smooth transition for opacity */
  }

  .mySlides.active {
    display: block;
  }

  .hero-wrap {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; /* Set the height to full viewport height */
    position: relative;
    color: #fff; /* Set text color to white (you can adjust this as needed) */
    opacity: 0; /* Start with 0 opacity */
    transition: opacity 0.5s ease; /* Add a smooth transition for opacity */
  }

  .hero-wrap.active {
    opacity: 1; /* When active, set opacity to 1 */
  }

  .hero-content {
    position: absolute;
    top: 50%; /* Center content vertically */
    left: 50%; /* Center content horizontally */
    transform: translate(-50%, -50%); /* Center content perfectly */
    text-align: center; /* Center text within the content div */
  }



.logo{
    display: flex;
    gap: 30px;
    padding: 15px 26px;
    
}

.icon{
    display: flex;
    gap: 10px;
    width: 100px;
}

.nav{
    display: flex;
    
    gap:10px;
    

}

.nav-link{
    color: black !important;
    text-decoration: none;      
    padding:5px 15px;
    position: relative;
  text-decoration: none;
  color: #333; /* Change the color to your desired text color */
  transition: color 0.3s, background-image 0.3s; /* Transition for smooth color change */
  background-image: linear-gradient(45deg, #4200FF, #820FE7, #9C29BE, #FD7042, #FC9D49); /* Apply the background gradient */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust the height of the underline as needed */
    bottom: .75rem;
    left: 0;
    background-image: linear-gradient(45deg, #4200FF, #820FE7, #9C29BE, #FD7042, #FC9D49); /* Adjust the gradient colors as needed */
    transform: scaleX(0); /* Initially, the underline is hidden */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; /* Transition for the underline animation */
  }
  
.nav-link:hover {
color: #007bff;
/* Change the color to the hover text color */
}

.nav-link:hover::after {
transform: scaleX(1); /* Show the underline on hover */
transform-origin: bottom left;
}
.nav1{
    display: flex;
    padding-top: 18px;
}


.nav-button {
    display: inline-block;
    width: 150px;
    height: 68px;
    text-align: center;
    padding-top: 11px;
    background-color: #B327C1;
    color: #fff;
    text-decoration: none;
  }
  
.main-sec{
    display: flex;
    justify-content: space-between;
    
}

.sec-h1{
    color: #161616;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 121.053% */
    width: 50%;
}
.sec-p1{
    color: rgba(22, 22, 22, 0.64);

    /* body text 16px */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.section1{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 80px;
}

.card-main{
    
    border-radius: 10px;
    box-shadow: 0 10px 18px rgb(229 227 227);
    height: 145px;
    width: 241px;
    text-align: center;
    padding: 20px;
    


}
.gradient-text {
    background: linear-gradient(45deg, #4200FF, #820FE7, #9C29BE, #FD7042, #FC9D49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 54.34px;
}
.sec1-img{
    
    width: 193.19px;
    height: 62.033px;
    flex-shrink: 0;
}    
.sec2{
   background-color: #0000000A;
   text-align:center;
   color:rgba(0, 0, 0, 0.64);
}
.section2{
   justify-content: center;
   align-items:center;
   display: flex;
   
  
}

.sec-img{
    padding: 35px;
}

.section3{
   
    display: flex;
    justify-content: space-between;
    margin: 10rem;
    gap:3rem;
    margin-left: 157px;
    
}
.sec-p{
    align-items: center;
    color:rgba(0, 0, 0, 0.64);
    width: 48%;
    font-size: 18px;
    line-height: 32px; /* 200% */
}
.sec1-p{
    color: rgba(0, 0, 0, 0.64);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}

.sec3-img1{
    position: absolute;
    top: 1200px;
    right: 413px;
}
.sec3-img2{
    position: absolute;
    top: 1107px;
    right: 212px;
}
.sec3-img3{
    position: absolute;
    top: 1351px;
    right: 241px;
}
.sec3-font{
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
}
.read1{
    color: #B327C1;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-decoration: none;
    transition: transform 0.3s;
    transition: color 0.3s;
}
.read1:hover{
    color: blue;
    text-decoration: underline;
}
.heading{
    display: flow;
    /* width: 34rem; */
    padding: 125px;
}
.bt{
    text-align: left;
    margin-top: 17px;
}
.bt1{
    background-color: #B327C1;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-text-04, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 128.571% */
    letter-spacing: 0.01rem;
}
.bt2{
    
    border-radius: 10px;
    border: 1px solid #B327C1;
    padding: 10px 15px;
    text-decoration: none;
    color: #B327C1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 128.571% */
    letter-spacing: 0.01rem;
}
.section-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5) as needed */
    z-index: -1; /* Place the overlay behind the content */
}

/* Add the 'section-overlay' class to the first section in your HTML */
.main-sec {
    position: relative; /* Ensure relative positioning for overlay */
}

.section4{
    text-align: center;
    margin-top: 20rem;
    margin-left: 128px;
    margin-right: 145px;
}
.sec4-p{
    overflow: hidden;
    color: var(--text-text-01, #161616);
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 24px;    150% */
}
.sec4-img1{
    padding: 88px;
}  

.section5{
    margin-top: 5rem;
    text-align: center;
    padding: 0px 50px;
    height: 48rem;
    
    
}
.sec4-card{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    margin-top: 40px;
    
}

.sec4-card1{
    border-radius: 20px;
    background-color: #F4F4F4;
    padding: 32px 31px;
    height: 142px;
    width: 311px;
}
.sec4-card1:hover {
    background: linear-gradient(45deg, 
      #e3d7ff,    /* Even lighter shade of #4200FF */
      #f0e4ff,    /* Even lighter shade of #820FE7 */
      #f9d4f1,    /* Even lighter shade of #9C29BE */
      #ffd9fa,    /* Even lighter shade of #FD7042 */
      #ffece3     /* Even lighter shade of #FC9D49 */
    );
  }
.card-style{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
}  
.card-style1{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    width: 60%;
}
.sec5-img{
    position: relative;
    bottom: 6px;
    right: 38px;
    height: 43rem;
}
.sec5-img1{
    position: absolute;
    top: 174rem;
    left: 75rem;

}
.sec5-img2{
        position: absolute;
    top: 168rem;
    left: 55rem;

}
.card-pos{
  
    z-index: 1;
}
.section6{
    /* margin-top: 245px; */
    
}
.sec6{
    text-align: center;
    padding: 20px;
}
.sec6-p{
    overflow: hidden;
    color: rgba(22, 22, 22, 0.64);
    text-align: center;
    text-overflow: ellipsis;

    /* Headline small 24px */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}
.sec6-div{
    margin-top: 55px;
    text-align: center;
     margin-bottom: 19PX;
}
.sec6-link1{
    
    position: relative;
    background-color:  #dad9d9;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 2;
    color: black;
}
.sec6-link1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px; /* Adjust the thickness of the bottom line as needed */
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #4200FF, #820FE7, #9C29BE, #FD7042, #FC9D49);
  }
.sec6-link{
    
    padding: 10px 40px;
    text-decoration: none;
    font-size: 0.875rem;
    color: black;
}
.sec6-link:hover{
    background-color:  #dad9d9;
    border-radius: 5px;
    height: 4px;
}

.sec6-div1{
    display: flex;
    gap: 14rem;
    /* margin-top: 70px; */
    padding: 80px;
}

.sec6-card{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    margin-top:40px;
    
}
.sec6-card1{
    border-radius: 20px;
    background-color: #F4F4F4;
    padding: 10px 10px;
    width: 141px;
    height: 158px;
}
.sec6-card-img{
    height: 24px;

}
.sec6-card1:hover {
    background: linear-gradient(45deg, 
      #e3d7ff,    /* Even lighter shade of #4200FF */
      #f0e4ff,    /* Even lighter shade of #820FE7 */
      #f9d4f1,    /* Even lighter shade of #9C29BE */
      #ffd9fa,    /* Even lighter shade of #FD7042 */
      #ffece3     /* Even lighter shade of #FC9D49 */
    );
  }

.sec6-img{
    position: absolute;
    top: 247rem;
    right: 0px;
}
.sec6-img1{
    position: absolute;
    top: 253rem;
    right: 0px;
    z-index: 1;
}
.sec6-head{
    color: #000;

    /* Headline small 24px */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}

.sec6-p1{
    margin-top: 2rem;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.sec6-crd{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 171.429% */
}

.sec6-crd1{
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
}
.sec6-img4{
    width: 36rem;
    position: absolute;
    top: 238rem;
    left: 56rem;
}
.gradient-text1{
    background: linear-gradient(45deg, #4200FF, #820FE7, #9C29BE, #FD7042, #FC9D49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
   
}
.section-last{
    margin-top: 7rem;
    text-align: center;
}
.sec-font{
    color: #000;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}
.API{
    margin: 3rem;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
/* font-family: 'Montserrat', sans-serif; */
.services{
    text-align: center;
    /* display: flexbox; */
}
.services1{
    /* display: flex; */
    /* margin-left: 27rem; */
    
}
.services2{
    width: 28rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 5px;
}
.services3{
    width: 28rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 5px;
}
.services4{
    width: 28rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 5px;
}
.main{
    margin: 5rem;
    display: inline-grid;
    gap: 20px;
    text-align: left;
}
#main1{
    padding: 15px;
    color: #000
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 1.5rem; /* 150% */
}
#main12{
    padding: 15px;
    color: #000
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
}
#main2{
    padding: revert;
}


.test{
    
    align-items: center;
    /* text-align: center; */
    font-family: Montserrat;
}
.test1{
    /* width: 25rem; */
    /* margin-left: 35rem; */
}
.main11{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
.API1{
    padding: 8rem;

}
.img_one{
    position: absolute;
    top: 351rem;
    right: 44rem;
    width: 16rem;
   
}
.testimg{
    width: 5rem;
}


.testimonial-container {
    position: relative;
}

.testimonial {
    display: none;
    opacity: 0;
}

.testimonial.active {
    display: block;
    opacity: 1;
    animation: fadeText 5s linear infinite;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

@keyframes fadeText {
    0% {
        opacity: 0;
        transform: translateX(-5px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(5px);
    }
}


.test-h2{
    
    color: #000;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem; /* 266.667% */
}
.V_CARE{
    text-align: center;
    margin-top: 7rem;
}
.vcare-flex{
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: 4rem;
}
.vcare-flex1{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    
}
.sec-flex{
    display: flex;
    gap: 101px;
}
.image-slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide-container {
    width: 100%;
    display: none;
    animation: slide-fade 3s ease-in-out infinite;
}

.slide {
    width: 100%;
    height: auto;
}

/* Show the first image initially */
.slide-container:first-child {
    display: block;
}

@keyframes slide-fade {
    0%, 100% {
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}


.last-img{
    margin-top: 5px;
}

.card1{
    /* margin: 2rem; */
   
}
.article_card {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width: 370px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    padding-bottom: 10px; /* Add padding to make space for the gradient line */
}

.article_card a {
    color: inherit;
    text-decoration: none;
}

.article_card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

/* Add the pseudo-element for the gradient line */
.article_card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Adjust the height of the gradient line */
    background: linear-gradient(to right, #4200FF, #820FE7, #9C29BE, #FD7042, #FC9D49); /* Gradient added here */
    opacity: 0; /* Initially hidden */
    -webkit-transition: opacity 0.3s; /* Added transition */
    transition: opacity 0.3s; /* Added transition */
}

/* Show the gradient line when hovering over the card */
.article_card:hover::after {
    opacity: 1;
}

.article_card__thumb {
    height: 250px;
    overflow: hidden;
    background-color: #000;
    background: linear-gradient(45deg, #4200FF, #820FE7, #9C29BE, #FD7042, #FC9D49); /* Gradient added here */
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.article_card__thumb img {
    width: 100%;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.article_card:hover .article_card__thumb {
    height: 130px;
}

.article_card:hover .article_card__thumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.article_card__body {
    position: relative;
    height: 150px;
    padding: 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.article_card:hover .article_card__body {
    height: 300px;
}

.article_card__subtitle {
 
    /* padding: 0 0 10px 0; */
    text-align: left;
    color: rgba(18, 18, 18, 0.87);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}

.article_card__description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 25px;

    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    color: rgba(18, 18, 18, 0.87);

    text-align: left
font-size:14px;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;

}

.article_card:hover .article_card__description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.article_card__footer {
    position: absolute;
    bottom: 12px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #A3A9A2;
    text-align: left;
}

.icon {

/* body text 16px *
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 133.333% */
}

.icon+.icon {
    padding-left: 10px;
}
.last-card{
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 31rem;
    /* padding: 2rem; */
}
footer{
    /* position:static; */
    background-color:#F4F4F4;
    /* margin-top: 5rem; */
}
.footer{
    display: flex;
    gap: 24rem;
    padding: 25px 30px;
    
}
.ftr{
    display: flex;
    gap: 30px;
   
}
.ftr1{
    display: flex;
    gap: 30px;
}
.ftr2{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.ftr-list{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.ftr-con{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.ftr-list1{
    color: #121212;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
}
.ftr-con1{
    color: #121212;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 157.143% */
}
.ftr-con2{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ftr-img{
    width:180px;
}
.ftr3{
    display: flex;
    gap:10px;
    padding: 10px 15px;
    width: 100px;

}

.vcare-head{
    color: #000;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}

.sec5-p1{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 46rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sec5-p1:hover{
    background-color: #2b157c;
    width: 46rem;
    color: white;
    height: 4rem;
}


.sec5-p2{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 43rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    /* margin-top: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sec5-p2:hover{
    background-color: #2b157c;
    width: 46rem;
    color: white;
    height: 4rem;
}

.sec5-p3{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 40.25rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    /* margin-top: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.sec5-p3:hover{
    background-color: #2b157c;
    color: white;
    width: 46rem;
    height: 4rem;
}
.sec5-p4{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 38.375rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    /* margin-top: 16px; */
    
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sec5-p4:hover{
    background-color: #2b157c;
    color: white;
    width: 46rem;
    height: 4rem;
}
.sec5-p5{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 36.875rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    /* margin-top: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}
.sec5-p5:hover{
    background-color: #2b157c;
    color: white;
    width: 46rem;
    height: 4rem;
}

.sec5-p7{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 38.375rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    /* margin-top: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* width: 583px; */
    /* height: 72px; */
    /* top: 430px; */

   
}
.sec5-p7:hover{
    background-color: #2b157c;
    color: white;
    width: 46rem;
    height: 4rem;
}
.sec5-p8{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 40.25rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    /* margin-top: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}
.sec5-p8:hover{
    background-color: #2b157c;
    color: white;
    width: 46rem;
    height: 4rem;
}
.sec5-p9{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 43rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    /* margin-top: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}
.sec5-p9:hover{
    background-color: #2b157c;
    color: white;
    width: 46rem;
    height: 4rem;
}
.sec5-p10{
    border-radius: 20px;
    background: #F4F4F4;
    display: flex;
    width: 46rem;
    height: 3.5rem;
    padding: 0.5625rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    /* margin-top: 16px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}
.sec5-p10:hover{
    background-color: #2b157c;
    color: white;
    width: 46rem;
    height: 4rem;
}
.sec5-font{
    color: rgba(0, 0, 0, 0.64);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 100% */
}
.sec5-flex{
    display: flex;
}

.test-font{
   
    color: #000;
    font-family: IBM Plex Serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem; /* 266.667% */
}
.test-font1{

    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-family: IBM Plex Serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem; /* 152.381% */
}
.test-f{
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem; /* 152.381% */
}
.test-flex{
    display: flex;
  justify-content:center;
}

.about-1{
    width: 865px;
}


/* aboutus.html */
.about-sec1{
    margin-top: 4rem;
    text-align: center;
}
.about-sec2{
    margin-top: 4rem;
}
.about-sec1-h1{
   
    color: #000;

    /* Headline 38px */
    font-family: Poppins;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.875rem; /* 121.053% */
}
.about-sec1-p{
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;

    /* Headline small 24px */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}
.about-sec2-flex{
    display: flex;
    gap: 6rem;
    padding: 40px;
}
.about-sec1-h3{
    color: #000;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}
.about-sec1-p1{
    color: rgba(0, 0, 0, 0.60);

    /* body text 16px */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 133.333% */
}
.about-sec1-p2{
    margin-top: 4rem;
    color: rgba(0, 0, 0, 0.60);

    /* body text 16px */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 133.333% */
}
.about-card1{
    border-radius: 20px;
    background-color: #F4F4F4;
    display: flex;
    width: 37.875rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.125rem;
}
.about-card3{
    margin-top: 2rem;
    border-radius: 20px;
    background-color: #F4F4F4;
    display: flex;
    width: 37.875rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.125rem;
}
.about-card-flex{
    display: flex;
}
.about-sec2-border{
    border-left: 1px solid #B327C1;
    margin:4rem 0;
}
.about-card2{
    margin-top: 2rem;
    border-radius: 20px;
    background-color: #F4F4F4;
    display: flex;
    width: 20.875rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.125rem;
}
.about-sec2-margin{
    margin:0 5rem;
}
.about-sec2-flex1{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
}
.about-img{
    margin-top: 4rem;
}
.about-sec2-font{
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.about-sec2-font1{
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.about-card-flex-font{
    color: #121212;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* team.html */

.team-img{
    width: 100%;
}

.team-img1{
    margin-top: 4rem;
    display: flex;
    gap:1rem;

}

.team-img2{
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
}

.team-sec{
    display: inline-flex;
    padding: 8.125rem 10.125rem 9.375rem 14.125rem;
    flex-direction: column;

}
.team-font1{
    color: #000;

    /* Headline small 24px */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}
.team-font2{
    color: #000;

    /* body text 16px */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem; /* 133.333% */
}



/* career.html */

.career-sec1-img{
    width: 100%;
}

.career-sec2-card{
    margin: 4rem;
    background: #F4F4F4;
    padding: 29px 89px 34px 36px;
    width: 34rem;   
}
.career-section2{
    display: flex;
    gap: 5rem;
}
.career-h5{
    color: rgba(18, 18, 18, 0.60);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135.938%; /* 1.01956rem */
    text-transform: uppercase;
}
.career-h1{
    margin-top: 1.5rem;
    color: #121212;
    text-align: justify;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135.938%; /* 2.03906rem */
}
.career-p{
    margin-top: 1.5rem;
    color: rgba(0, 0, 0, 0.60);
    text-align: justify;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135.938%; /* 1.18944rem */
}
.career-p1{
    margin-top: 1.5rem;
    color: #000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135.938%; /* 1.18944rem */
}
.career-list{
    margin-top: 1.5rem;
    padding: 0 18px;
    color: rgba(0, 0, 0, 0.60);
    text-align: justify;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135.938%; /* 1.18944rem */
}
.career-form{
    margin-top: 4rem;
    border: .5px solid rgb(220, 219, 219);
    width: 27rem;
    height: 47rem;
    padding: 20px;
}
.form-h2{
    
    color: #000;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
    margin-bottom: 2rem;
}
.career-label{
    /* productive / label-01 */
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
    letter-spacing: 0.02rem;
    
}
.apply-form {
    /* background-color: #f4f4f4; */
    padding: 20px;
    /* border-radius: 5px; */
    margin-top: 20px;
}

.apply-form label, .apply-form input {
    display: block;
    margin: 20px 0;
    width: 100%;
}


.apply-form input[type="submit"] {
    border-radius: 0.75rem;
    
    background: #B327C1;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60%;
    text-align: left;
}

.apply-form input[type="submit"]:hover {
    background-color: #555;
}

.custom-file-upload {
    border-bottom: 2px solid gray;
    background-color:#F4F4F4;
    display: inline-block;
    padding: 15px 0;
    height: 20px;

}

input[type=file] {
display: none;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color:#F4F4F4;
    height: 50px;
}
.select{
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 24.5rem;
    background-color:#F4F4F4;
    border-bottom: 2px solid gray;
}
.career-label1{
    /* productive / label-01 */
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
     /* 133.333% */
    letter-spacing: 0.02rem;
    padding-left: 10px;
}

.material-symbols-outlined{
 padding-left: 12rempx;
}














/* blog.html */

.blog-sec1{
    color: #B327C1;
    font-family: Poppins;
    font-size: 13.01088rem;
    /* font:bolder; */

    font-weight: 1000;
    line-height: 15.75rem; /* 121.053% */
}


/* contact.html */


.contact-section{
    margin-top: 5rem;
    text-align: center;
 
}
.contact-flex1{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap:8rem;    
}
.contact-flex2{
    display: flex;
}
.form-flex{
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
    margin-bottom: 2rem;
}
.career-card{
    background-color: #F4F4F4;
    padding: 15px;
    height: 16rem;
    width: 15rem;
    margin-top: 3rem;
}
.a{
    border-left: 1px solid gray;
}
.contact-div{
    margin-top: 2.5rem;
}
.b{
    width: 30rem;
}
.c{
    line-height: 1.5;
}
.d{
    width: 27.5rem;
}
.mar{
    padding-top: 2rem;
    margin-bottom: 0rem;
}
.d-flex{
    display: flex !important;
    justify-content: center;
    gap: 2rem;
    padding: 8rem;
}


/* services.html */

.services-sec1-img{
    width: 100%;
}
.services-sec2{
    display: flex;
    justify-content: center;
    padding: 10rem;
    gap: 5rem;
}
.services-card1{
    position: relative;
    text-align: left;
    border-radius: 20px;
    background-color: #F4F4F4;
    padding: 1.5rem;
    width: 36rem;
    height: 16rem;
    z-index: 1;
}
.service-div1{
    margin-top: 5rem;
}
.services-card2{
    position: relative;
    text-align: left;
    border-radius: 20px;
    background-color: #F4F4F4;
    padding: 1rem 2rem;
    z-index: 1;
}
.s1{
    margin-top: 7rem;
}
.services-img1{
    margin-top: 10rem;
}
.services-img2{
    position: absolute;
    top: 73rem;
    right: 33rem;
}
.services-sec1-img3{
    position: absolute;
    top: 47rem;
    right: 65rem;
}

.services-img-last{
    margin-top: 8rem;
}
.services-sec1-img4{
    margin-top: 7rem;
}
.services-sec1-img5{
    position: absolute;
    top: 118rem;
    right: 39rem;
}
.s-font{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.s-font1{
    margin-top: 1.5rem;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.slider-container {
    width: full; /* Adjust the width as needed */
    margin: 0 auto; /* Center the slider */
    overflow: hidden;
}

.slider {
    display: flex;
    animation: slideImages 15s linear infinite;
}

.slider img {
    width: full; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Adjust spacing between images */
}

@keyframes slideImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1200px); /* Adjust the total width of all images */
    }
}

/* index.html  */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
   
}


